.form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input, textarea {
    margin-bottom: 10px;
}

.input-name {
    height: 2rem;
}

.input-message, .input-name {
    border-radius: 5px;
    border-color: lightgray;
}

.input-submit {
    background-color: deepskyblue;
    color: white;
    border: none;
    width: 35%;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
}